.App {
  font-family: sans-serif;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.resource_node .rst__rowContents{
  background-color: #303030;
  border-style: dashed;
  border-color: gainsboro;
}

.resource_node_selected .rst__rowContents {
  background-color: #616161;
}

.resource_node_solr_cloud .rst__rowContents{
  border-color: #fda100;
}
.resource_node_solr_collection .rst__rowContents{
  border-color: #f74ffb;
}

.resource_node_zookeeper .rst__rowContents{
  border-color: #57fbe9;
}

.resource_node_has_policy .rst__rowContents{
  border-style: solid;
}
